<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.11111.0" newVersion="1.1.11111.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Parseq" publicKeyToken="434716041f21e3ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <connectionStrings>
    <add name="DatabaseEntity" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\Users\Karno\Documents\Visual Studio 2010\Projects\StarryEyes\krile.db&quot;'" providerName="System.Data.EntityClient" />
    <add name="LocalDatabase" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SQLite;provider connection string='data source=&quot;C:\Users\Karno\Documents\Visual Studio 2010\Projects\StarryEyes\krile.db&quot;'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>