<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- You can change where to store the configuration. -->
    <!-- Roaming : save into roaming user appdata folder. -->
    <!-- Standalone/Portable : save into Krile folder. -->
    <!-- Otherwise, save into default appdata folder. -->
    <add key="ExecutionMode" value="Default"/>
  </appSettings>
</configuration>