<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ix_Experimental-Main" version="1.1.10823" targetFramework="net40-Client" />
  <package id="Rx_Experimental-Main" version="1.1.11111" targetFramework="net40-Client" />
  <package id="Rx_Experimental-WPF" version="1.1.11111" targetFramework="net40-Client" />
</packages>