<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncOAuth" version="0.8.4" targetFramework="net45" />
  <package id="AvalonEdit" version="4.4.0.9727" targetFramework="net45" />
  <package id="EntityFramework" version="6.0.2" targetFramework="net45" />
  <package id="Extended.Wpf.Toolkit" version="2.1.0" targetFramework="net45" />
  <package id="Ix-Main" version="1.2.2" targetFramework="net45" />
  <package id="LivetCask" version="1.1.0.0" targetFramework="net45" />
  <package id="LivetExtensions" version="1.1.0.0" targetFramework="net45" />
  <package id="Microsoft.Bcl" version="1.1.6" targetFramework="net45" />
  <package id="Microsoft.Bcl.Async" version="1.0.165" targetFramework="net45" />
  <package id="Microsoft.Bcl.Build" version="1.0.13" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.2.18" targetFramework="net45" />
  <package id="NAudio" version="1.7" targetFramework="net45" />
  <package id="Rx-Core" version="2.2.2" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.2" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.2" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.2" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.3" targetFramework="net45" />
  <package id="Rx-WPF" version="2.2.2" targetFramework="net45" />
  <package id="Rx-XAML" version="2.2.2" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.91.3" targetFramework="net45" />
  <package id="WPFTaskDialog" version="1.7.1" targetFramework="net45" />
</packages>